{% extends 'base.html' %}{% load static %} 
{% block title %} Home {% endblock title %} {% block content %}
{% include 'sppiner.html' %}
<div
  style="
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1551434678-e076c223a692?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80);
    background-size: cover;
    background-position: center;
  "
  class="position-relative w-100"
>
  <div
    class="position-absolute text-white d-flex flex-column align-items-center justify-content-center"
    style="
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.6);
    "
  >
    <h1 class="mb-4 mt-2 font-weight-bold text-center">
      College Management System
    </h1>

    <div class="container p-5">
      <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-3 g-3">
        <div class="col">
          <div class="card h-100 shadow-sm">
            <div class="text-center">
              <div class="img-hover-zoom img-hover-zoom--colorize" id='abc'>
                <img
                  class="shadow"
                  src="https://i.ibb.co/ThpbPkM/school-principal.jpg"
                  alt="Another Image zoom-on-hover effect"
                />
              </div>
            </div>

            <div class="card-body">
              <div class="clearfix mb-3"></div>

              <div class="my-2 text-center ">
                <h1 class='fw-bold'>Admin</h1>
              </div>

              <div class="text-center " id='btn'>
                <a
                  href="{%url 'admin_login'%}"
                  id="filled"
                  class="btn px-5 py-3 text-white mt-3 mt-sm-0 mx-1 fw-bold"
                  style="border-radius: 30px; background-color: #9b5de5"
                  >Login</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 shadow-sm">
            <div class="text-center">
              <div class="img-hover-zoom img-hover-zoom--colorize">
                <img
                  class="shadow"
                  src="https://i.ibb.co/vLyFJv5/Brady-2017-600.png"
                  alt="Another Image zoom-on-hover effect"
                />
              </div>
            </div>

            <div class="card-body">
              <div class="clearfix mb-3"></div>

              <div class="my-2 text-center">
                <h1>Teacher</h1>
              </div>

              <div class="text-center">
                <a
                  href="{%url 'staff_login'%}"
                  id="outlined"
                  class="btn px-5 py-3 text-white mt-3 mt-sm-0 mx-1"
                  style="border-radius: 30px; border: 1px solid #9b5de5"
                  >Login</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 shadow-sm">
            <div class="text-center">
              <div class="img-hover-zoom img-hover-zoom--colorize">
                <img
                  class="shadow"
                  src="https://i.ibb.co/2Y34zL1/hero-image-trans4.webp"
                  alt="Another Image zoom-on-hover effect"
                />
              </div>
            </div>

            <div class="card-body">
              <div class="clearfix mb-3"></div>

              <div class="my-2 text-center">
                <h1>Student</h1>
              </div>
              <div class="text-center">
                <a
                  href="{%url 'login'%}"
                  id="outlined"
                  class="btn px-5 py-3 text-white mt-3 mt-sm-0 mx-1"
                  style="border-radius: 30px; border: 1px solid #9b5de5"
                  >Login</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
