{% extends 'base.html' %} {% block content %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'css/main.css' %}" />
{% endblock css %}
<!-- Topic Cards -->
<div id="cards_landscape_wrap-2">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <a href="{%url 'profile'%}">
          <div class="card-flyer">
            <div class="text-box">
              <div class="image-box">
                <img src="https://i.ibb.co/fpFZyHg/profile.png" alt="" />
              </div>
              <div class="text-container">
                <h6>My Profile</h6>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <a href="{%url 'student_manager'%}">
          <div class="card-flyer">
            <div class="text-box">
              <div class="image-box">
                <img src="https://i.ibb.co/JHmvDcJ/students.png" alt="" />
              </div>
              <div class="text-container">
                <h6>Student Manager</h6>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <a href="{% url 'class_manager' %}">
          <div class="card-flyer">
            <div class="text-box">
              <div class="image-box">
                <img
                  src="https://i.ibb.co/Tk1QNVZ/class.png
                  "
                  alt=""
                />
              </div>
              <div class="text-container">
                <h6>Class Manager</h6>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <a href="{% url 'subject_manager' %}">
          <div class="card-flyer">
            <div class="text-box">
              <div class="image-box">
                <img
                  src="              https://i.ibb.co/mqP8Kk7/subject.png
                  "
                  alt=""
                />
              </div>
              <div class="text-container">
                <h6>Subject Manager</h6>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <a href="{% url 'result_manager' %}">
          <div class="card-flyer">
            <div class="text-box">
              <div class="image-box">
                <img
                  src="              https://i.ibb.co/yFGTqwn/result.png
                  "
                  alt=""
                />
              </div>
              <div class="text-container">
                <h6>Result Manager</h6>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <a href="{% url 'fee_management' %}">
          <div class="card-flyer">
            <div class="text-box">
              <div class="image-box">
                <img
                  src="              https://i.ibb.co/nCG7cqx/payment.png
                  "
                  alt=""
                />
              </div>
              <div class="text-container">
                <h6>Fee Manager</h6>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <a href="{% url 'staff_manager' %}">
          <div class="card-flyer">
            <div class="text-box">
              <div class="image-box">
                <img
                  src="              https://i.ibb.co/VjKT8mJ/staffs.png
                  "
                  alt=""
                />
              </div>
              <div class="text-container">
                <h6>Staff Manager</h6>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <a href="{% url 'view_users' %}">
          <div class="card-flyer">
            <div class="text-box">
              <div class="image-box">
                <img
                  src="              https://i.ibb.co/Xzbqkpz/users.png
                  "
                  alt=""
                />
              </div>
              <div class="text-container">
                <h6>View Users</h6>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <a href="{% url 'calendar' %}">
          <div class="card-flyer">
            <div class="text-box">
              <div class="image-box">
                <img
                  src="https://i.ibb.co/qkJpgyP/calendar.png"
                  alt=""
                />
              </div>
              <div class="text-container">
                <h6>Calender</h6>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <a href="">
          <div class="card-flyer">
            <div class="text-box">
              <div class="image-box">
                <img
                  src="https://i.ibb.co/h79kf6G/undraw-Online-friends-re-eqaj.png"
                  alt=""
                />
              </div>
              <div class="text-container">
                <h6>Outstanding Bills</h6>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <a href="">
          <div class="card-flyer">
            <div class="text-box">
              <div class="image-box">
                <img
                  src="https://i.ibb.co/QcFv82d/undraw-Investment-data-re-sh9x.png
                 "
                  alt=""
                />
              </div>
              <div class="text-container">
                <h6>Manage Expenses</h6>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <a href="{%url 'staff_pay_roll'%}">
          <div class="card-flyer">
            <div class="text-box">
              <div class="image-box">
                <img
                  src="https://i.ibb.co/1sNHxxq/undraw-Business-deal-re-up4u.png"
                  alt=""
                />
              </div>
              <div class="text-container">
                <h6>Staff Payroll</h6>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <a href="{%url 'change_password'%}">
          <div class="card-flyer">
            <div class="text-box">
              <div class="image-box">
                <img
                  src="https://i.ibb.co/VY1JKsF/password.png
                  "
                  alt=""
                />
              </div>
              <div class="text-container">
                <h6>Reset Password</h6>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
