{% extends 'base.html' %} {% block content %} {% load static %} 
{% block css %}
<link rel="stylesheet" href="{% static 'css/main.css' %}" />
{% endblock css %}
<!-- Topic Cards -->
<div id="cards_landscape_wrap-2">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <a href="{%url 'profile'%}">
          <div class="card-flyer">
            <div class="text-box">
              <div class="image-box">
                <img
                  src="https://cdn.pixabay.com/photo/2018/03/30/15/11/deer-3275594_960_720.jpg"
                  alt=""
                />
              </div>
              <div class="text-container">
                <h6>My Profile</h6>
                
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <a href="{%url 'student_manager'%}">
          <div class="card-flyer">
            <div class="text-box">
              <div class="image-box">
                <img
                  src="https://cdn.pixabay.com/photo/2018/04/09/19/55/low-poly-3305284_960_720.jpg"
                  alt=""
                />
              </div>
              <div class="text-container">
                <h6>Student Manager</h6>
                
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <a href="{% url 'class_manager' %}">
          <div class="card-flyer">
            <div class="text-box">
              <div class="image-box">
                <img
                  src="https://cdn.pixabay.com/photo/2018/04/06/13/46/poly-3295856_960_720.png"
                  alt=""
                />
              </div>

              <div class="text-container">
                <h6>Class Manager</h6>
                
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <a href="">
          <div class="card-flyer">
            <div class="text-box">
              <div class="image-box">
                <img
                  src="https://cdn.pixabay.com/photo/2018/03/30/15/12/dog-3275593_960_720.jpg"
                  alt=""
                />
              </div>
              <div class="text-container">
                <h6>Subject Manager</h6>
                 
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <a href="">
          <div class="card-flyer">
            <div class="text-box">
              <div class="image-box">
                <img
                  src="https://cdn.pixabay.com/photo/2018/03/30/15/12/dog-3275593_960_720.jpg"
                  alt=""
                />
              </div>
              <div class="text-container">
                <h6>Result Manager</h6>
                 
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <a href="">
          <div class="card-flyer">
            <div class="text-box">
              <div class="image-box">
                <img
                  src="https://cdn.pixabay.com/photo/2018/03/30/15/12/dog-3275593_960_720.jpg"
                  alt=""
                />
              </div>
              <div class="text-container">
                <h6>Fee Manager</h6>
                 
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <a href="">
          <div class="card-flyer">
            <div class="text-box">
              <div class="image-box">
                <img
                  src="https://cdn.pixabay.com/photo/2018/03/30/15/12/dog-3275593_960_720.jpg"
                  alt=""
                />
              </div>
              <div class="text-container">
                <h6>Staff Manager</h6>
                 
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <a href="">
          <div class="card-flyer">
            <div class="text-box">
              <div class="image-box">
                <img
                  src="https://cdn.pixabay.com/photo/2018/03/30/15/12/dog-3275593_960_720.jpg"
                  alt=""
                />
              </div>
              <div class="text-container">
                <h6>View Users</h6>
                 
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <a href="">
          <div class="card-flyer">
            <div class="text-box">
              <div class="image-box">
                <img
                  src="https://cdn.pixabay.com/photo/2018/03/30/15/12/dog-3275593_960_720.jpg"
                  alt=""
                />
              </div>
              <div class="text-container">
                <h6>Print Slip</h6>
                 
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <a href="">
          <div class="card-flyer">
            <div class="text-box">
              <div class="image-box">
                <img
                  src="https://cdn.pixabay.com/photo/2018/03/30/15/12/dog-3275593_960_720.jpg"
                  alt=""
                />
              </div>
              <div class="text-container">
                <h6>Calender</h6>
                 
              </div>
            </div>
          </div>
        </a>
      </div>
      
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <a href="">
          <div class="card-flyer">
            <div class="text-box">
              <div class="image-box">
                <img
                  src="https://cdn.pixabay.com/photo/2018/03/30/15/12/dog-3275593_960_720.jpg"
                  alt=""
                />
              </div>
              <div class="text-container">
                <h6>Outstanding Bills</h6>
                 
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <a href="">
          <div class="card-flyer">
            <div class="text-box">
              <div class="image-box">
                <img
                  src="https://cdn.pixabay.com/photo/2018/03/30/15/12/dog-3275593_960_720.jpg"
                  alt=""
                />
              </div>
              <div class="text-container">
                <h6>Manage Expenses</h6>
                 
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <a href="">
          <div class="card-flyer">
            <div class="text-box">
              <div class="image-box">
                <img
                  src="https://cdn.pixabay.com/photo/2018/03/30/15/12/dog-3275593_960_720.jpg"
                  alt=""
                />
              </div>
              <div class="text-container">
                <h6>Manage Devotors</h6>
                 
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <a href="{%url 'staff_manager'%}">
          <div class="card-flyer">
            <div class="text-box">
              <div class="image-box">
                <img
                  src="https://cdn.pixabay.com/photo/2018/03/30/15/12/dog-3275593_960_720.jpg"
                  alt=""
                />
              </div>
              <div class="text-container">
                <h6>Staff Payroll</h6>
                 
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <a href="">
          <div class="card-flyer">
            <div class="text-box">
              <div class="image-box">
                <img
                  src="https://cdn.pixabay.com/photo/2018/03/30/15/12/dog-3275593_960_720.jpg"
                  alt=""
                />
              </div>
              <div class="text-container">
                <h6>Fee Alocation</h6>
              </div>
            </div>
          </div>
        </a>
      </div><div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <a href="{%url 'change_password'%}">
          <div class="card-flyer">
            <div class="text-box">
              <div class="image-box">
                <img
                  src="https://cdn.pixabay.com/photo/2018/03/30/15/12/dog-3275593_960_720.jpg"
                  alt=""
                />
              </div>
              <div class="text-container">
                <h6>Reset Password</h6>
                 
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
