{% extends 'base.html' %} {% load static %}{% block css %}
<link rel="stylesheet" href="{% static 'css/studentmanager.css' %}" />
{% endblock css %} {% block content %} {% include 'navbardashboard.html' %}

<div class="container">
  <h2>Responsive Table</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Course</th>
        <th>About</th>
        <th>Payment Status</th>
      </tr>
    </thead>
    <tbody>
      {% if staffs %} {% for st in staffs %}
      <tr>
        <td data-label="first-name">{{st.first_name}}</td>
        <td data-label="last-name">{{st.last_name}}</td>
        <td data-label="email">{{st.course}}</td>
        <td data-label="email">
          <button type="button" class="btn btn-info">Details</button>
        </td>
        <td data-label="email">
          <a href="{% url 'student_payment' %}"><button type="button" class="btn btn-info">Bill Pay</button></a>
        </td>
      </tr>
      {% endfor %} {% endif %}
    </tbody>
  </table>
</div>

{% endblock content %}
