{% extends 'base.html' %} {% load static %}{% block css %}
<link rel="stylesheet" href="{% static 'css/main.css' %}" />
{% endblock css %} {% block content %} {% include 'navbardashboard.html' %}
{% include 'addstudent.html' %}
<div id="cards_landscape_wrap-2">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <a href="{%url 'class_six'%}">
          <div class="card-flyer">
            <div class="text-box">
              <div class="image-box">
                <img
                  src="https://cdn.pixabay.com/photo/2018/03/30/15/12/dog-3275593_960_720.jpg"
                  alt=""
                />
              </div>
              <div class="text-container">
                <h6>Class Six </h6>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <a href="{%url 'class_seven'%}">
          <div class="card-flyer">
            <div class="text-box">
              <div class="image-box">
                <img
                  src="https://cdn.pixabay.com/photo/2018/03/30/15/12/dog-3275593_960_720.jpg"
                  alt=""
                />
              </div>
              <div class="text-container">
                <h6>Class Seven </h6>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <a href="{%url 'class_eight'%}">
          <div class="card-flyer">
            <div class="text-box">
              <div class="image-box">
                <img
                  src="https://cdn.pixabay.com/photo/2018/03/30/15/12/dog-3275593_960_720.jpg"
                  alt=""
                />
              </div>
              <div class="text-container">
                <h6>Class Eight </h6>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <a href="{%url 'class_nine'%}">
          <div class="card-flyer">
            <div class="text-box">
              <div class="image-box">
                <img
                  src="https://cdn.pixabay.com/photo/2018/03/30/15/12/dog-3275593_960_720.jpg"
                  alt=""
                />
              </div>
              <div class="text-container">
                <h6>Class Nine </h6>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <a href="{%url 'class_ten'%}">
          <div class="card-flyer">
            <div class="text-box">
              <div class="image-box">
                <img
                  src="https://cdn.pixabay.com/photo/2018/03/30/15/12/dog-3275593_960_720.jpg"
                  alt=""
                />
              </div>
              <div class="text-container">
                <h6>Class Ten </h6>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <a href="{%url 'ssc_candidate'%}">
          <div class="card-flyer">
            <div class="text-box">
              <div class="image-box">
                <img
                  src="https://cdn.pixabay.com/photo/2018/03/30/15/12/dog-3275593_960_720.jpg"
                  alt=""
                />
              </div>
              <div class="text-container">
                <h6>Ssc Candidate</h6>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}









