{% extends 'base.html' %} {% load static %}{% block css %}
<link rel="stylesheet" href="{% static 'css/subjectmanager.css' %}" />
{% endblock css %} {% block content %} {% include 'navbardashboard.html' %}

<div class="container">
  <h2>Responsive Table</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Teacher name</th>
        <th>Class name</th>
        <th>Subject name</th>
        <th>About</th>
      </tr>
    </thead>
    <tbody>
      {% if subjects %} {% for st in subjects %}
      <tr>
        <td data-label="first-name"><strong>{{st.teacher_name}}</strong></td>
        <td data-label="last-name"><strong>{{st.class_name}}</strong></td>
        <td data-label="email"><strong>{{st.subject_name}}</strong></td>
        <td data-label="email">
          <button type="button" class="btn btn-danger">Delete</button>
        </td>
      </tr>
      {% endfor %} {% endif %}
    </tbody>
  </table>
</div>

{% endblock content %}
